<html>

<head>
<h1> Plotly Error bar chart </h1>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div id="myDiv"></div>

</head>

<body>
<script>
Plotly.d3.csv("data.csv", data=>{
var tabledata={}//empty object
tabledata.trial=data.map(d => d.trial);
tabledata.control_value=data.map(d => +d.control_value);//+ no convert to number
tabledata.control_error=data.map(d => +d.control_error);
tabledata.exp_value=data.map(d => +d.exp_value);//version actual needs semicolon
tabledata.exp_error=data.map(d => +d.exp_error);
console.log(tabledata)

var trace1 = {
  x: tabledata.trial,
  y: tabledata.control_value,
  name: 'Control',
  error_y: {
    type: 'data',
    array: tabledata.control_error,
    visible: true
  },
  type: 'bar'
};
var trace2 = {
  x: tabledata.trial,
  y: tabledata.exp_value,
  name: 'Experimental',
  error_y: {
    type: 'data',
    array: tabledata.exp_error,
    visible: true
  },
  type: 'bar'
};
var data = [trace1, trace2];
var layout = {barmode: 'group'};
Plotly.newPlot('myDiv', data, layout);
})
</script>
</body>
</html>
